body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.jumbotron {
  padding-top: 6rem;
  background-image: url(img/idonk1.jpg);
  max-width: 100%;
  background-position: center;
  color: aliceblue;
  font-family: "Kaushan Script", cursive;
}
#projects {
  background-color: #000000;
}

nav ul li a {
  font-family: "Montserrat", sans-serif;
  color: rgb(131, 128, 128);
}
section {
  padding-top: 5rem;
}

footer {
  background-color: #000000;
}
